@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* background-color: #0D1117; */
}

body {
    background-color: #0D1117;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #161B22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    position: sticky;
    top: 0;
}

.header h1 {
    color: #10B981;
}

.header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav a {
    text-decoration: none;
    color: #E5E7EB;
}

.header .nav a:hover {
    color: #10B981
}

.header .signOut a {
    text-decoration: none;
    color: #E5E7EB;
    background-color: #3B82F6;
    text-decoration: none;
    color: #E5E7EB;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid #30363D;
}

.header .signOut a:hover {
    background-color: #EF4444;
}

.dashboard {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    min-height: 100vh;
    width: 225px;
    background-color: #161B22;
}

.dashboard h3 {
    margin: 10px;
    padding: 10px;
    color: #3B82F6;
}

.dashboard .dashCon {
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* align-items: center;
    justify-content: center; */
}

.dashboard .dashCon a {
    /* display: block; */
    margin: 30px 15px;
    text-decoration: none;
    color: #E5E7EB;
}

.dashboard .dashCon a:hover {
    color: #10B981;
}

.footer {
    color: #10B981;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161B22;
    height: 50px;
    margin-top: auto;
}